/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.cursor
/.fleet
/.idea
/.vscode
/mysql_dumps_backups
root/mysql_hasap_backup/hasapchy_2026-04-04_14-34-25.sql.gz
